@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script>
        $(function () {
            var bugs = [],
                editingBug = null,
                $bugstable = $('#bugstable');

            $.getJSON('/bugs/fetchall').done(function (jqXhr) {
                bugs = jqXhr.responseJson;
                var tbody = $bugstable.find('tbody');
                tbody.empty();
                tbody.append(bugs.map(function (bug) {
                    return ('<td><a href="#">' +
                        bug.title +
                        '</a></td><td>' +
                        ((bug.assignedToUser && bug.assignedToUser.name) || 'Unassigned') +
                        '</td><td>' +
                        (bug.dateClosed ? 'Closed' : 'Open') +
                        '</td>'
                    );
                }));
            });

            $('#editor').dialog({
                autoOpen: false,
                maxWidth: 500,
                width: 500,
                height: 500
            });

            $('#addbug').on('click keydown',
                function () {
                    editingBug = {};
                    $('#editor').find('input').val('');
                    $('#editor').dialog('open');
                });

            $('#canceledit').on('click keydown',
                function () {
                    editingBug = null;
                    $('#editor').dialog('close');
                });
        });
    </script>
}

<h2>Bugs</h2>

<div class="row">
    <table id="bugstable" class="table table-bordered table-striped">
        <thead>
            <tr><th>Title</th><th>Assigned To</th><th>Status</th></tr>
        </thead>
        <tbody>
        <td colspan="3">Loading...</td>
        </tbody>
    </table>

    <button id="addbug" class="btn btn-default">Add bug</button>
</div>
<div id="editor" style="display: none; z-index:99">
    <div class="dialog-container">
        <form>
            <div class="row col-5">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Title">
                </div>
            </div>
            <div class="row col-5">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea rows="5" class="form-control" id="description" placeholder="Description"></textarea>
                </div>
            </div>

            <div class="row col-5">
                <button id="savebug" type="button" class="btn btn-default">Save</button> <button id="canceledit" type="button" class="btn">Cancel</button>
            </div>
        </form>
    </div>
</div>